* {
    font-family: "Raleway", sans-serif;
  margin: 0;
}
/* home */
.home {
  background-image: url("https://www.w3schools.com/w3images/wedding_couple.jpg");
  background-position: center;
  background-size: cover;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
  filter: grayscale(50%);
}

.home-paragraph {
  font-size: 22px;
  letter-spacing: 10px;    
}

/* Jane-John */
.jane-john {
  background-color: #ffdddd;
  filter: grayscale(50%);
}

.jane-john-content {
  max-width: 904px;
  margin: auto;
  line-height: 2;
}

.jane-john-heading {
  text-align: center;
  font-size: 30px;
  padding: 2.5rem;
  color: #757575;
}

.jane-john-picture {
  border-radius: 10px;
  width: 100%;
}

.jane-john-paragraph {
  padding-top: 50px;
}

.jane-john-button {
  padding: 1rem;
  text-align: center;
}

.jane-john-button p {
  padding: 1.5rem;
}

.jane-john-button a {
  padding: 1.5rem;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.jane-john-button a:hover {
  background-color: #757575;
}
